{% extends "base.html" %}
{% block content %}
<h1>Login</h1>
{% if let Some(err) = error %}
<p class="error">{{ err }}</p>
{% endif %}
<form method="POST" action="/login">
  <label>
    Email<br>
    <input type="email" name="email" required autocomplete="email">
  </label>
  <label>
    Password<br>
    <input type="password" name="password" required autocomplete="current-password">
  </label>
  <input type="hidden" name="_csrf" value="{{ ctx.csrf_token }}">
  <button type="submit">Login</button>
</form>
{% endblock %}
